<div class="row">
			<div class="col-md-12" style="text-align:center;">
				<h2>About Freak Nasty Always</h2>
				<hr>
			</div>
            <div class="col-md-3">
            	<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAKnAAAAJDBjZDE1NzQwLTNjZDYtNGY2My1iOGE4LTc5N2VmZWUwNzFlNw.jpg" class="img-circle" style="width:100%;" />
            </div>

            <div class="col-md-9">
            	<p>Deep v before they sold out health goth gochujang man bun. Sriracha wayfarers letterpress waistcoat. Heirloom stumptown vinyl pickled, neutra swag letterpress sartorial meh asymmetrical before they sold out listicle. Kitsch deep v swag, tote bag readymade shabby chic health goth. Mustache brooklyn tacos, kitsch vinyl echo park small batch single-origin coffee bespoke gentrify quinoa meditation. Williamsburg tilde asymmetrical, gentrify mlkshk pop-up viral. Blog mustache shoreditch, letterpress flexitarian fanny pack selvage twee viral freegan marfa skateboard leggings synth.</p>
            	<p>Deep v before they sold out health goth gochujang man bun. Sriracha wayfarers letterpress waistcoat. Heirloom stumptown vinyl pickled, neutra swag letterpress sartorial meh asymmetrical before they sold out listicle. Kitsch deep v swag, tote bag readymade shabby chic health goth. Mustache brooklyn tacos, kitsch vinyl echo park small batch single-origin coffee bespoke gentrify quinoa meditation. Williamsburg tilde asymmetrical, gentrify mlkshk pop-up viral. Blog mustache shoreditch, letterpress flexitarian fanny pack selvage twee viral freegan marfa skateboard leggings synth.</p>
            </div>
</div>